@media only screen and (min-device-width: 430px) and (max-device-width: 932px) {
    body {
      max-width: 100vw;
      max-height: 100vh;
    }
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #01344A;
    background-color: #0A3345;
    font-family: 'Arial', sans-serif;
    color: white;
}

.body-top {
    display: flex;
    margin: 10% 5%;
    border: solid;
    align-items: center;
    justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  background-color: #2ED2B9;
  border-radius: 20px;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

nav a i {
  font-size: 20px;
}

.record-title {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.record-list {
    margin-top: 20px;
}

.record-item {
    background-color: #C4CBD3;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.record-info {
    color: #233B57;
}

.location {
    font-size: 18px;
    font-weight: bold;
}

.duration {
    font-size: 16px;
}

.date-badge {
    display: inline-block;
    background: linear-gradient(90deg, #6DD5FA, #8E2DE2); 
    color: white;
    padding: 15px 30px;  
    font-size: 18px;     
    border-radius: 10px; 
    margin: 10px 0;      
    text-align: center;
    font-weight: bold;   
    transition: transform 0.2s ease;  
    cursor: pointer;    
}

.date-badge:hover {
    transform: scale(1.1);  
}


