.btn-custom-green {
    color: #fff;
    background-color: #198754; /* Approximation of Bootstrap’s $green-500 */
    border-color: #198754;
}

.btn-custom-green:hover {
    color: #198754;
    background-color: #fff; /* Change for better visibility on hover */
    border-color: #198754;
}
.btn-custom-green:disabled {
    background-color: #cccccc; /* Gray color */
    color: #666666; /* Dark gray text to indicate it's disabled */
    cursor: not-allowed; /* Show a not-allowed cursor on hover */
}

#map {
    height: 70vh; /* Adjust height as needed */
    width: 100%; /* Map width */
}

#timer-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #2980B9; /* Deep sky blue background */
    color: #fff; /* White text color */
    border-radius: 10px;
}
#timer-container h3 {
    margin-bottom: 20px;
}
.timer-buttons {
    display: flex;
    justify-content: center; /* Center-align the buttons */
    gap: 10px;
}
.timer-info {
    color: #fff; /* Ensure all timer info text is white */
    margin-top: 20px;
}
.timer-info div {
    margin-bottom: 5px;
}

#venues-container h4 {
    color: #2980B9; /* Title color */
}
#venues-list {
    margin-top: 10px;
}
.list-group-item {
    background-color: #f8f9fa; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    padding: 10px;
    margin-bottom: 5px; /* Space between items */
}
